{% extends 'storytimes/base.html' %}

{% block content %}
<div>
  <h3>What is Storytimes</h3>
  <p>
    A place for you to get your creativity going.  You can make a prompt for others or pick a prompt and write a piece
    inspired by the prompt.  Your piece can be anything you want: a poem, a story, etc. that others can read and
    leave comments and constructive criticism.  You could also just sit back and enjoy.
  </p>
</div>

<div>
  <h3>Tips For A Good Prompt</h3>
  <ul>
    <li>should inspire and provide minimal direction</li>
    <li>don't be too vague</li>
    <li>don't be too restrictive</li>
  </ul>
</div>

<div>
  <h3>Tips For A Good Piece</h3>
  <ul>
    <li>have 30 words minimum</li>
    <li>keep it within prompt direction</li>
  </ul>
</div>
{% endblock %}