{% extends 'storytimes/base.html' %}

{% block content %}
  <a href="{% url 'prompt_edit' id=prompt.id %}">(Edit Prompt)</a>
  <a href="{% url 'prompt_delete' id=prompt.id %}">(Delete Prompt)</a>
  <a href="{% url 'post_create' id=prompt.id %}">(Add A Post)</a>

<div class="prompt-detail">
  <h3>{{ prompt.body }}</h3>
  <h4>by {{ prompt.author }} on {{ prompt.post_date }}</h4>
</div>

<div>
  <p>Prompt Responses</p>
  <ul>
    {% for post in prompt.posts.all %}
    <li>
      <a href="{% url 'post_detail' id=post.id %}">{{ post.title }}</a>
      <p>by {{ post.author }}</p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}