{% extends 'storytimes/base.html' %}

{% block content %}
<h2>by {{ prompt.author }} on {{ prompt.post_date }}</h2>

<p>{{ prompt.body }}</p>

<div>
  <a href="{% url 'prompt_edit' id=prompt.id %}">Edit Prompt</a>
  <a href="{% url 'prompt_delete' id=prompt.id %}">Delete Prompt</a>
  <a href="{% url 'post_create' id=prompt.id %}">Add A Post</a>
</div>

<ul>
  {% for post in prompt.posts.all %}
  <li>
    <a href="{% url 'post_detail' id=post.id %}">{{ post.title }} by {{ post.author }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}